<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="alien"
		class="com.spring.start.Spring3_Spring_Core.Alien" autowire="byType">
		<constructor-arg value="32"></constructor-arg>
	</bean>
	
	<bean id="computer" class="com.spring.start.Spring3_Spring_Core.Laptop" primary="true"></bean>
	<bean id="desktop" class="com.spring.start.Spring3_Spring_Core.Desktop"></bean>

</beans>
